.todo {
  color: #d88771;
  display: flex;
  font-size: 1.5rem;
  margin: 1rem auto;
  background: white;
  transition: all 1s ease;
}

.todo-item {
  flex: 1;
  padding: 0rem 0.5rem;
}

.todo-delete,
.todo-completed {
  background: #d88771;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.todo-completed {
  background: rgb(73, 204, 73);
}

.fas {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
